/* ==========================================================================
   Custom Styles
   ========================================================================== */


#main {
	margin-top: 100px;
}

.video-container {
	border-radius: 10px;
}
.video-container .demo_video{
	margin: 50px 0;
}

#container{
  margin-top: 160px;
  min-height: 450px
}

#social-buttons {
  padding: 10px 0;
}

#social-buttons .social {
  margin: 0 auto;
  width:530px;
}

.github_follow{
  position: absolute;
  right: 10px;
  top: 100px;
  z-index: 100;
}